# This file is managed by Ansible, all modifications will be discarded.
[Unit]
Description=Unit fail handler

[Service]
Type=oneshot
# TODO Send a mail instead, this is just for testing
ExecStart=/bin/echo "%i failed."

# vi: ft=systemd:
